{% extends "base.html" %}

{% block content %}
    <main class="container">

        <h1>Create an account</h1>

        <form method="POST" action="/signup">
            {{ form.hidden_tag() }} <!--hidden tag is to protect against CSRF attacks-->

            <div>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {% if form.verify_password.errors %}
                    {% for error in form.verify_password.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="forms">
                {{ form.username.label }}
                {{ form.username }}
            </div>

            <div class="forms">
                {{ form.email.label }}
                {{ form.email }}
            </div>

            <div class="forms">
                {{ form.password.label }}
                {{ form.password }}
            </div>

            <div class="forms">
                {{ form.verify_password.label }}
                {{ form.verify_password }}
            </div>

            {{ form.submit(class="btn-primary") }}
        </form>

    </main>
{% endblock %}
